<form class="form-horizontal" [formGroup]="appointmentForm" novalidate>

  <div class="col-sm-2 col-sm-offset-2" style="margin-top:50px;">
    <div class="form-group">
      <label>Street Address*</label>
        <em class="validationMs">Pristine: {{appointmentForm.controls.streetAddress.pristine}}</em>
      <input class="form-control" id="streetAddress" type="text" maxlength="50" formControlName="streetAddress" />
    </div>

    <div class="form-group">
      <label>Appointment Date*</label>
      <em class="validationMs">Pristine: {{appointmentForm.controls.appointmentDate.pristine}}</em>
      <input class="form-control" id="appointmentDate" formControlName="appointmentDate" [dpDayPicker]="datePickerConfig" theme="dp-material"/>
    </div>
  </div>

</form>

